<!-- TODO: Header? -->
<div class="main-content">
    <h1>Welcome to the Voting App</h1>

    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>

    <div class ="polls">
        <h1>Current Active polls:</h1>
        <p> change this eventually be polls.length or soemthing</p>
        <p>Total Polls: <%= totalPolls %></p> 
    </div>
</div>
</body>
</html>
